@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Dylan Winters Page!</h1>
    <div>Resume</div>
    <div>Projects</div>
    <div>github</div>
    <div>linkedIn</div>
</div>
