@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Dylan Winters Page!</h1>
    <a href="/Resume">Resume</a>
    <a href=" https://github.com/dylanwin123">github</a>
    <a href="https://www.linkedin.com/in/dylan-winters/">linkedIn</a>
</div>

  <img href="https://photos.app.goo.gl/NxwLwQ8R3ZkqRzYs5" />"
